@import '../colors';
@import '../default';

trader-quick-buy-sell {
  .widget();
  border-radius: 4px;
  form {
    font-size: 12px;
    line-height: 40px;
    .text-cell {
      font-weight: bold;
      margin-left: 13px;
    }
    input[type="text"]  {
      height: 30px;
      background-color: @white005;
      color: @white;
      border: none;
      padding: 8px;
      text-align: right;
      margin-top: 5px;
      &:focus {
        border: solid 1px #707070;
      }
    }
    .fee {
      text-align: right;
    }
    [layout=column] > div .md-button {
      position: relative;
      top: 20px;
    }
    md-switch {
      margin: 24px 0 0 0;
    }
  }
}