@import './colors';

html.md-default-theme,
html,
body.md-default-theme,
body {
  -webkit-font-smoothing: antialiased;
  background-image:radial-gradient(50% 102%, #233050 50%, #0d0e14 100%);
  border-radius:4px;
  box-sizing: border-box;
  color: @white;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 20 / 14;
  user-select: none;
}

.md-button.md-icon-button {
  width: 50px;
}
md-list-item, md-list-item .md-list-item-inner {
  min-height: 10px;
}
md-list-item::before,
.md-list-item-inner::before {
  min-height: 10px !important;
}

.md-button {
  font-family: Roboto;
  font-size: 14px;
  line-height: 14px;
  color: @white !important;
  text-align: center;
  padding: 7px 10px;
  min-height: 12px;
  font-style: normal;
  margin: 0 4px;
  &.md-primary {
    background-color: @blue;
    &[disabled] {
      background-color: @light-blue;
      color: @gray !important;
    }
  }
  &.md-warn {
    background-color: @orange;
  }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: @gray2;
}

textarea, input, button { outline: none; }

.widget {
  font-family: Roboto;
  padding: 12px;
  background-color: @dark-blue015;
  box-shadow:0 0 2px 0 rgba(0,0,0, 0.2);
  .trader-component-title {
    font-size: 16px;
    margin-bottom: 6px;
    .balance {
      font-weight: bold;
    }
  }
}

.list {
  md-list {
    padding: 0px;
  }
  md-list-item, md-list-item .md-list-item-inner {
    height: 20px !important;
    line-height: 20px;
    overflow: hidden;
  }
  .content {
    opacity: 0.6;
    font-size: 12px;
    text-align: right;
  }
  .header {
    font-size: 12px;
    font-weight: bold;
  }
  md-list-item:nth-child(even) {
    background-color: @dark-blue2;
  }
  .md-button.md-no-style {
    padding: 0px 3px 0px 0px !important;
  }
  md-list-item.md-no-proxy {
    padding: 0px 10px 0px 0px !important;
  }
  .truncate-col {
      text-align: right;
      margin-right: 6px;
      overflow: hidden;
      white-space: nowrap;
      min-width: 70px;
      max-width: 120px;
      flex-grow: 1;
      &.sum-col {
        margin-right: 0px;
      }
    }
}

input[type="radio"] {
    background-color: @gray4;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: @gray4;
    border-radius: 25px;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: @white;
}
