wallet {
  .widget();
  .list();
  h2 {
    font-size: 26px !important;
  }
  md-list-item.md-no-proxy {
    flex-grow: 0;
  }
  md-list-item {
    max-height: initial;
    line-height: 36px;
    height: 30px;
  }
  .wallet-dropdown {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
    width: 140px;
    font-size: 14px;
    text-align: center;
    background-color: @orange;
    &:hover{
      background-color: @btn-orange !important;
    }
  }
  .wallet-dropdown span  {
    color: @white;  // custom color here
  }
  a, a * {
    font-size: 14px;
    color: @link-yellow;
    cursor: pointer;
  }
  .truncate-col {
    padding-right: 30px;
    &.left {
      text-align: left;
    }
    &.checkbox-col {
      max-width: 40px;
      min-width: 40px;
      md-checkbox {
        margin-bottom: 0px;
      }
    }
    &.identifier-col {
      max-width: inherit;
    }
    &.unlock-col {
      max-width: 80px;
    }
  }
  .wallet-entries {
    overflow-y: scroll;
    md-list-item {
      min-height: 30px;
    }
    .wallet-entry {
      .identifier {
        margin-top: 8px;
      }
      md-checkbox {
        .md-container {
          margin-top: 8px
        }
      }
      button.left {
        padding-left: 0px;
        margin-left: 0px;
      }
      button.right {
        padding-right: 0px;
        margin-right: 0px;
      }
      .md-icon-button {
        md-icon {
          color: @white07;
        }
      }
    }
    .currency-balance {
      padding-left: 50px;
      .name {
        margin-top: 8px;
        font-size: 14px;
      }
      .identifier {
        font-style: italic;
        margin-top: 8px;
      }
      .balance {
        margin-top: 8px;
        font-size: 14px;
      }
    }
    .token-balance {
      padding-left: 100px;
      .name {
        font-weight: bold;
        margin-top: 8px;
      }
      .identifier {
        font-style: italic;
        margin-top: 8px;
      }
      .balance {
        font-weight: bold;
        margin-top: 8px;
      }
    }
  }
}

